::selection {
    background-color: $primary;
    color: $white;
}

.container,
.container-xs,
.container-sm,
.container-md,
.container-lg,
.container-xl,
.container-xxl,
.container-fluid {
    display: flow-root;
}

h1,
.h1 {

    line-height: 1.25;
    font-size: 0.55 * $h1-font-size;

    @include media-breakpoint-up(xs) {
        font-size: calc(2.29rem + 3vw);
    }

    @include media-breakpoint-up(md) {
        letter-spacing: -0.02em;
    }

    @include media-breakpoint-up(xxl) {
        font-size: $h1-font-size;
    }
}

h2,
.h2,
blockquote {
    margin-top: map-get($spacers, 45);
    font-size: 0.6875 * $h2-font-size;

    @include media-breakpoint-up(xs) {
        font-size: calc(1.125rem + 1vw);
    }

    @include media-breakpoint-up(xxl) {
        font-size: $h2-font-size;
    }
}

h3,
.h3 {
    font-size: 0.9 * $h3-font-size;

    @include media-breakpoint-up(xs) {
        font-size: calc(1.0625rem + 0.19vw);
    }

    @include media-breakpoint-up(xxl) {
        font-size: $h3-font-size;
    }
}


p,
ul {
    font-size: 0.9 * $font-size-base;

    @include media-breakpoint-up(xs) {
        font-size: calc(1.0625rem + 0.19vw);
    }

    @include media-breakpoint-up(xxl) {
        font-size: $font-size-base;
    }
}

.C-list-bullets {
    padding-left: 1rem;
}

.C-list-bullets > li {
    list-style-type: none;
    position: relative;
    padding-left: map-get($spacers, 20);
    margin-bottom: map-get($spacers, 10);
}

li::before {
    content: "â—";
    position: absolute;
    top: map-get($spacers, 15);
    left: - map-get($spacers, 30);
    font-size: 0.75rem;
    color: $black;
}

blockquote {
    color: $black;
    font-style: italic;
    margin-right: map-get($spacers, 10);
    margin-left: map-get($spacers, 10);

    &::after {
        content: "";
        display: block;
        width: 48px;
        height: 35px;
        background-image: url(/img/quotation-mark.min.svg);
        color: $gray-400;
        margin-top: 12px;
    }
}

.C-header > * {
    //background-color: #ccc;
}

.C-header {
    margin-right: auto;
    margin-left: auto;
    padding: map-get($spacers, 45) 0 0;


    @include media-breakpoint-up(md) {
        padding-top: 0;
        padding-left: map-get($spacers, 50);
        max-width: 1270px;
        width: 100%;
        display: grid;

        justify-content: end;
        grid-template-columns: minmax(min-content, max-content) minmax(25rem, max-content);
        grid-template-rows: 4fr 3fr 11fr;
    }

    @include media-breakpoint-up(lg) {
        padding-left: map-get($spacers, 60);
        grid-template-rows: 9fr 4fr 6fr;
    }

}

.C-header-heading,
.C-header-subheading {
    margin-right: map-get($spacers, 30);
    margin-top: 0;

}

.C-header-heading {
    @include media-breakpoint-up(md) {
        grid-column: 1 / -1;
        grid-row: 1 / 2;

        align-self: end;
        z-index: 99999;
    }

    @include media-breakpoint-up(lg) {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
}

.C-header-subheading {
    margin-bottom: map-get($spacers, 40);

    @include media-breakpoint-up(md) {
        align-self: start;
    }

    font-size: 0.6875 * $h2-font-size;

    @include media-breakpoint-up(xs) {
        font-size: calc(0.8125rem + 1.3vw);
    }

    @include media-breakpoint-up(xxl) {
        font-size: $h2-font-size;
    }

}

.C-header-heading,
.C-header-subheading {
    margin-left: map-get($spacers, 45);
    margin-right: map-get($spacers, 45);

    @include media-breakpoint-up(md) {
        margin-left: 0;
        margin-right: 0;
    }
}

.C-header-buttons {
    justify-self: start;
    align-self: start;
    display: flex;
    flex-wrap: wrap;
    padding-right: map-get($spacers, 50);
    padding-left: map-get($spacers, 50);
    margin-bottom: map-get($spacers, 35);

    @include media-breakpoint-up(md) {
        padding-right: 0;
        padding-left: 0;
        margin-right: 0;
        margin-left: 0;
    }
}

.C-header-button {
    flex-basis: auto;;
    flex-grow: 1;
    margin-bottom: map-get($spacers, 30);
    margin-right: map-get($spacers, 20);
    margin-left: map-get($spacers, 20);
    white-space: nowrap;

    @include media-breakpoint-up(sm) {
        padding-right: map-get($spacers, 45);
        padding-left: map-get($spacers, 45);
    }
}

.C-header-portrait {
    overflow: hidden;

    @include media-breakpoint-up(md) {
        grid-column: 2 / 3;
        grid-row: 2 / -1;
        align-self: end;
        justify-self: end;
    }

    @include media-breakpoint-up(lg) {
        padding-top: map-get($spacers, 45);
        grid-row: 1 / -1;
    }
}

.C-header-image {
    width: 500px;
    max-width: 100%;
    height: auto;
    transform: scale(1.10);
    transform-origin: 50% 30%;
    display: block;
    margin-right: auto;
    margin-left: auto;

    @include media-breakpoint-up(md) {
        transform: none;
    }

    @include media-breakpoint-up(lg) {
        width: 520px;
    }
}


.C-logos {
    padding-bottom: map-get($spacers, 30);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin-left: - map-get($spacers, 25);
    margin-right: - map-get($spacers, 25);


    @include media-breakpoint-up(sm) {
        justify-content: start;
        margin-left: - map-get($spacers, 35);
        margin-right: - map-get($spacers, 35);
    }


    @include media-breakpoint-up(lg) {
        justify-content: space-between;
    }
}

.C-logos-link {
    flex: 0 1 8.5rem;
    display: flex;
    justify-content: start;
    justify-items: center;
    transition: $transition-base;
    margin: map-get($spacers, 33) map-get($spacers, 25);

    @include media-breakpoint-up(sm) {
        margin-left: map-get($spacers, 35);
        margin-right: map-get($spacers, 35);
    }


    @include hover-focus {
        transform: scale(1.05);
    }
}

.C-logos-logo {


    &-heureka {
        width: 95%;
    }

    &-seznam {
        width: 100%;
    }

    &-aktualne {
        width: 100%;
    }

    &-forbes {
        width: 70%;
    }
}


.btn-outline-secondary {
    border-color: $C-gray-450;

    @include hover-focus() {
        color: $black;
        border-color: $C-gray-450;
        background-color: $C-gray-450;
    }
}

.C-btn-icon {
    width: 7.5 * $spacer;
    height: 4 * $spacer;
    background-repeat: no-repeat;
    background-position: center;
    background-size: map-get($spacers, 35);

    @include media-breakpoint-up(sm) {
        width: auto;
        background-position: map-get($spacers, 35);
        padding-right: map-get($spacers, 35);
        padding-left: map-get($spacers, 35) + map-get($spacers, 45);
        text-align: left;
    }

    &-phone {
        background-image: url(/img/icon-phone.min.svg);
    }

    &-envelope {
        background-image: url(/img/icon-envelope.min.svg);
    }
}


.C-socnets {
    margin-bottom: map-get($spacers, 33);
    display: flex;
    flex-wrap: wrap;

    font-size: 0.9 * $font-size-base;

    @include media-breakpoint-up(xs) {
        font-size: calc(1.0625rem + 0.19vw);
    }

    @include media-breakpoint-up(xxl) {
        font-size: $font-size-base;
    }

    &-socnet {
        flex: 1 1 10rem;
        $icon-size: 1.75rem;
        background-repeat: no-repeat;
        background-position: 0 50%;
        background-size: $icon-size;
        padding-left: 1.5 * $icon-size;
        padding-top: map-get($spacers, 20);
        padding-bottom: map-get($spacers, 20);
        margin-bottom: map-get($spacers, 20);
        margin-top: map-get($spacers, 20);

        &-linkedin {
            background-image: url(/img/icon-linkedin.min.svg);
        }

        &-twitter {
            background-image: url(/img/icon-twitter.min.svg);
        }

        &-instagram {
            background-image: url(/img/icon-instagram.min.svg);
        }
    }

}

.C-external-links {
    background-color: $light;
    padding-bottom: map-get($spacers, 33);

    h2,
    h3 {
        color: $dark;
    }

    ul {
        @extend .list-unstyled;
        font-size: $font-size-sm;
    }

    li {
        margin-bottom: map-get($spacers, 20);
    }

    li > strong {
        font-size: $font-size-base;
        font-weight: $font-weight-normal;
        display: block;
        margin-top: map-get($spacers, 25);
        margin-bottom: map-get($spacers, 25);
    }

    a {
        display: block;
    }
}


.C-container-narrow {
    padding-left: 6.4vw;
    padding-right: 6.4vw;

    @include media-breakpoint-up(sm) {
        max-width: 64ch;
    }

    @include media-breakpoint-up(md) {
        max-width: 64ch;
        padding-left: map-get($spacers, 35);
        padding-right: map-get($spacers, 35);
    }

    @include media-breakpoint-up(lg) {
        max-width: 69ch;
    }
}

.C-photo {
    @include media-breakpoint-up(md) {
        max-width: calc(64ch - #{2 * map-get($spacers, 35)});
    }

    @include media-breakpoint-up(lg) {
        max-width: calc(69ch - #{2 * map-get($spacers, 35)});
    }
}
